/** Form Settings Login & Signup
------------------------------------------------------------*/
/* 1. Variables */
$primary: white;
$h1: 40px;
/*----------------------------------------------------------*/
main {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: $h1;
  text-align: center;
}
.login-form,
.signup-form {
  padding: 2rem;
  color: $primary;
  height: auto;
  width: 19rem;
  border: 1px solid $primary;
  margin-left: 6px;
  border-radius: 6px;
}
.textbox,
.submit-btn,
.textgroup {
  overflow: hidden;
  padding: 17px 9px;
}
.textbox input,
.textgroup input {
  font-family: 'Arcade', Avenir, Helvetica, Arial, sans-serif;
  background: transparent;
  color: $primary;
  font-size: 15px;
  border-radius: 6px;
  max-width: 100%;
  height: 2.5em;
  outline: none;
  padding-left: 6px;
}
.form-btn {
  font-family: 'Arcade', Avenir, Helvetica, Arial, sans-serif;
  min-width: 100%;
  background: none;
  border: 1px solid $primary;
  color: $primary;
  padding: 9px 11px;
  font-size: 23px;
  cursor: pointer;
  margin: 0px;
  border-radius: 6px;
}
.check-box {
  margin: 0 9px;
}

/** Form Settings for desktop
------------------------------------------------------------*/
@media (min-width: 700px) {
  header {
    justify-content: space-evenly;
  }
  .login-form,
  .signup-form {
    width: 36rem;
  }
  .login-title,
  .signup-title {
    margin: 3rem;
  }
  .textbox input,
  .textgroup input {
    min-width: 31rem;
  }
  .form-btn {
    margin: 10px 0 10px 0;
  }
}
